:root {
  --col:#212121;
  --white:#FFFFFF;
  --blue:#188CE8;
  --dlue-active:#15568b;
  --grey:#757575;
  --header-ul:#2196F3;
  --anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #AFB1B8;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color var(--anim), color var(--anim);
  transition: background-color var(--anim), color var(--anim);
}
.team__circle:active {
  background-color: #2196F3;
  color: #FFFFFF;
}

@media screen and (min-width: 1200px) {
  .team__circle:hover,
.team__circle:focus {
    background-color: #2196F3;
    color: #FFFFFF;
  }
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--col);
  font-size: 14px;
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.span-web {
  color: #2196F3;
}

.chief-text {
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 1.17;
}
@media screen and (max-width: 1199px) {
  .chief-text {
    font-size: 28px;
    line-height: 1.18px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.client__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
}
@media screen and (max-width: 479.5px) {
  .client__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .client__basis {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (max-width: 1199px) {
  .client__basis {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}

.client__color-company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 210px;
  height: 92px;
  color: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-transition: color var(--anim), border-color var(--anim);
  transition: color var(--anim), border-color var(--anim);
}
@media screen and (min-width: 768px) {
  .client__color-company {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .client__color-company {
    width: 170px;
  }
}

.client__color-company:hover,
.client__color-company:focus {
  color: var(--header-ul);
  border-color: var(--header-ul);
}

.client__company {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.footer__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
}

.footer-form {
  margin-top: 20px;
}
@media screen and (max-width: 1199px) {
  .footer-form {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
}

.footer-form__input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 0px 16px;
  background: none;
  outline: none;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (max-width: 1199px) {
  .footer-form__input {
    max-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form__input {
    max-width: 358px;
    margin-right: 12px;
  }
}

.footer__social-network {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.footer__team-circle {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-network {
  width: 20px;
  height: 20px;
  fill: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .footer__centre-text {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .footer__centre-text {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer__centre-text {
    text-align: start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 70px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .footer__third {
    width: 450px;
  }
}
@media screen and (max-width: 1199px) {
  .footer__third {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__third {
    width: 100%;
    max-width: 570px;
  }
}

@media screen and (max-width: 767px) {
  .footer__second {
    margin-top: 60px;
  }
}

.footer__webstudio {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  color: var(--white);
  text-decoration: none;
}

.footer__address {
  margin-top: 20px;
  font-style: normal;
}

.footer__address-lists:not(:last-child) {
  margin-bottom: 9px;
}

.adress {
  text-decoration: none;
  letter-spacing: 0.03em;
  line-height: 1.71;
  color: var(--white);
  -webkit-transition: color var(--anim);
  transition: color var(--anim);
}

.adress:hover,
.adress:focus {
  color: var(--blue);
}

.mailtel-footer {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  color: var(--grey);
  -webkit-transition: color var(--anim);
  transition: color var(--anim);
}

.mailtel-footer:hover,
.mailtel-footer:focus {
  color: var(--blue);
}

.goals__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .goals__flex {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.goals__lists {
  max-width: 450px;
}
@media screen and (min-width: 768px) {
  .goals__lists {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .goals__lists {
    width: 270px;
  }
}

.goals__container-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}

.goals__icon {
  display: block;
}

.goals__description {
  letter-spacing: 0.03em;
  text-transform: uppercase;
  line-height: 1.14;
  font-size: 14px;
}
@media screen and (max-width: 767px) {
  .goals__description {
    text-align: center;
  }
}

.goals__text {
  margin-top: 10px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--grey);
}

@media screen and (max-width: 767px) {
  .header__mail-list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header__mail-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .header__mail-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 50px;
    margin-left: auto;
  }
}

.header__mailtel {
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.14;
  color: var(--grey);
  -webkit-transition: color var(--anim);
  transition: color var(--anim);
}
@media screen and (max-width: 1199px) {
  .header__mailtel {
    font-size: 12px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  .header__mailtel:hover,
.header__mailtel:focus {
    color: var(--blue);
  }
}

.header__mailtel:active {
  color: var(--blue);
}

.header__mailtel-hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--grey);
}

.header__phone {
  width: 10px;
  height: 14px;
  fill: currentColor;
}
@media screen and (min-width: 1199px) {
  .header__phone {
    height: 16px;
  }
}

.header__folder {
  width: 14px;
  height: 10px;
  fill: currentColor;
}
@media screen and (min-width: 1199px) {
  .header__folder {
    width: 16px;
    height: 12px;
  }
}

.modal__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  color: #000000;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal__button:hover {
  color: var(--blue);
}

.modal__icon-close {
  width: 11px;
  height: 11px;
  fill: currentColor;
  -webkit-transition: color var(--anim);
  transition: color var(--anim);
}

.page__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.page__image {
  position: relative;
}

.page__wrapper {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.page__bottom-text-image {
  font-weight: 700;
  color: var(--white);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}

.different-it__button {
  cursor: pointer;
  font-weight: 500;
  font-family: inherit;
  padding: 6px 22px 6px 22px;
  background-color: #F5F4FA;
  border: none;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  -webkit-transition: color var(--anim), background-color var(--anim), -webkit-box-shadow var(--anim);
  transition: color var(--anim), background-color var(--anim), -webkit-box-shadow var(--anim);
  transition: color var(--anim), background-color var(--anim), box-shadow var(--anim);
  transition: color var(--anim), background-color var(--anim), box-shadow var(--anim), -webkit-box-shadow var(--anim);
}

@media screen and (min-width: 1200px) {
  .different-it__button:hover,
.different-it__button:focus {
    color: #FFFFFF;
    background-color: #2196F3;
    -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.different-it__button:active {
  color: #FFFFFF;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.different-it__page {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.lists-different-it__page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 450px;
  margin-bottom: 30px;
  -webkit-transition: -webkit-box-shadow var(--anim);
  transition: -webkit-box-shadow var(--anim);
  transition: box-shadow var(--anim);
  transition: box-shadow var(--anim), -webkit-box-shadow var(--anim);
}
@media screen and (min-width: 768px) {
  .lists-different-it__page {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .lists-different-it__page {
    max-width: 370px;
  }
}

@media screen and (min-width: 1200px) {
  .lists-different-it__page:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}

.lists-different-it__page:hover,
.lists-different-it__page:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.different-it__text {
  position: absolute;
  bottom: -1px;
  left: 0;
  height: 100%;
  width: 100%;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--white);
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform var(--anim);
  transition: -webkit-transform var(--anim);
  transition: transform var(--anim);
  transition: transform var(--anim), -webkit-transform var(--anim);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

@media screen and (min-width: 1200px) {
  .lists-different-it__page:hover .different-it__text {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.lists-different-it__page:active .different-it__text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.different-it__pop-up-window {
  position: relative;
  overflow: hidden;
}

.portfolio__img {
  width: 450px;
}
@media screen and (min-width: 768px) {
  .portfolio__img {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__img {
    width: 370px;
  }
}

.different-it__border-text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 1;
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: none;
}

.portfolio-description {
  font-size: 18px;
  letter-spacing: 0.06em;
  line-height: 2;
  margin-bottom: 4px;
}

.portfolio-text {
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.87;
  color: var(--grey);
}

.modal__registration-form--caption {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  display: block;
  letter-spacing: 0.03em;
  color: var(--col);
}

.modal__registration-form--field {
  margin-top: 10px;
}

.modal__registration-form--field:first-of-type {
  margin-top: 12px;
}

.modal__registration-form--label {
  display: block;
  margin-top: 10px;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--grey);
}

.modal__registration-form--container-icon {
  position: relative;
}

.modal__registration-form--input {
  background: none;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 42px;
  border-radius: 4px;
  outline: none;
  -webkit-transition: border-color var(--anim);
  transition: border-color var(--anim);
}

.modal__registration-form--input:focus {
  border-color: #2196F3;
}

.modal__registration-form--icon {
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: currentColor;
  -webkit-transition: fill var(--anim);
  transition: fill var(--anim);
}

.modal__registration-form--input:focus + .modal__registration-form--icon {
  fill: #2196F3;
}

.container-form-checkbox {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__registration-form--checkbox-input {
  position: absolute;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.modal__registration-form--checkbox-input:checked + .modal__registration-form--checkbox-icon .checked__form-icon {
  opacity: 1;
}

.modal__registration-form--checkbox-input:checked + .modal__registration-form--checkbox-icon .unchecked__form-icon {
  opacity: 0;
}

.modal__registration-form--checkbox-icon {
  left: 0;
}

.unchecked__form-icon {
  opacity: 1;
  -webkit-transition: opacity var(--anim);
  transition: opacity var(--anim);
}

.checked__form-icon {
  opacity: 0;
  -webkit-transition: opacity var(--anim);
  transition: opacity var(--anim);
}

.modal__registration-form--checkbox-text {
  margin-left: 9px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--grey);
}

.modal__registration-form--checkbox-link {
  text-decoration: underline;
  color: #2196F3;
}

.modal__registration-form--button {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  width: 200px;
  height: 50px;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
}

.form-message {
  width: 100%;
  height: 120px;
  padding: 16px 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;
  -webkit-transition: border-color var(--anim);
  transition: border-color var(--anim);
}

.form-message::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-message::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-message:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-message::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-message::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-message:focus {
  border-color: #2196F3;
}

.team__flex {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .team__flex {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 50px;
  }
}

.team__lists-people {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__img {
  width: 5450px;
}
@media screen and (min-width: 768px) {
  .team__img {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__img {
    width: 270px;
  }
}

.team__name-profession {
  padding-top: 30px;
  padding-bottom: 30px;
}
@media screen and (max-width: 1199px) {
  .team__name-profession {
    padding-bottom: 24px;
  }
}

.team__name {
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 1.19;
}

.team__profession {
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 1.19;
  color: var(--grey);
}

.team__social-network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
  gap: 10px;
}

.team__svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  padding: 48px 40px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform var(--anim);
  transition: -webkit-transform var(--anim);
  transition: transform var(--anim);
  transition: transform var(--anim), -webkit-transform var(--anim);
}
.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-header {
  margin-left: auto;
  border: none;
  background: none;
  fill: #212121;
}
@media screen and (min-width: 768px) {
  .menu-header {
    display: none;
  }
}
.menu-header:active {
  fill: var(--blue);
}

.menu-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  fill: #212121;
  background: none;
  -webkit-transition: fill var(--anim);
  transition: fill var(--anim);
}
.menu-btn:active {
  fill: var(--blue);
}

.mobile-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  margin-bottom: auto;
}

.link {
  color: #212121;
  text-decoration: none;
}
.link:active {
  color: #2196F3;
}

.link-contacts-tel {
  font-weight: 500;
  font-size: 34px;
  text-decoration: none;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196F3;
}
@media screen and (max-width: 330px) {
  .link-contacts-tel {
    font-size: 24px;
  }
}

.link-contacts-email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
}

.mobile-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}

.mobile__list:not(:last-child) {
  margin-right: 10px;
}

.link-socials {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  padding-right: 10px;
  color: #2196F3;
}

.mobile__border {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 64px;
}

@media screen and (max-width: 767px) {
  .header__navigation {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header__navigation {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-left: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header__navigation {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-left: 93px;
  }
}

.header__studio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.header__transition {
  position: relative;
  text-decoration: none;
  letter-spacing: 0.02em;
  font-weight: 500;
  line-height: 1.14;
  color: var(--col);
  -webkit-transition: color var(--anim);
  transition: color var(--anim);
}

.header__transition::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  top: 35px;
  height: 4px;
  width: 100%;
  background-color: #2196F3;
  border-radius: 2px;
  opacity: 0;
  -webkit-transition: opacity var(--anim);
  transition: opacity var(--anim);
}
@media screen and (min-width: 1200px) {
  .header__transition::after {
    top: 45px;
  }
}

.header__transition.current::after {
  opacity: 1;
}

.header__transition:hover::after,
.header__transition:focus::after {
  opacity: 1;
}

.current {
  color: var(--header-ul);
}

.header__transition:hover,
.header__transition:focus {
  color: var(--header-ul);
}

.client__text {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--col);
}
@media screen and (max-width: 1199px) {
  .client__text {
    font-size: 28px;
  }
}

.footer {
  padding: 60px 0;
  background-color: #2F303A;
}

.footer-form__subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  float: right;
  padding: 10px 28px;
  width: 200px;
  height: 50px;
  border: none;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white);
}

.general__title {
  max-width: 360px;
  margin: 0 auto;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-size: 26px;
  line-height: 1.61;
  color: var(--white);
}
@media screen and (min-width: 1200px) {
  .general__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.general {
  margin: 0 auto;
  max-width: 1600px;
  padding: 118px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/img-2_mob.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/img-2_mob.jpg");
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .general {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/img_dx@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/img_dx@2x.jpg");
  }
}
@media screen and (min-width: 481px) {
  .general {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/img_tab.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/img_tab.jpg");
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .general {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/img_tab@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/img_tab@2x.jpg");
  }
}
@media screen and (min-width: 769px) {
  .general {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/img_dx.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/img_dx.jpg");
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .general {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/img_dx@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/img_dx@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .general {
    padding: 200px 0;
  }
}

.general__button {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px 24px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  font-family: inherit;
  background-color: #2196F3;
  color: var(--white);
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color var(--anim);
  transition: background-color var(--anim);
}
@media screen and (min-width: 1200px) {
  .general__button {
    padding: 10px 32px;
  }
}
.general__button:active {
  background-color: #188CE8;
}

@media screen and (min-width: 1200px) {
  .general__button:hover,
.general__button:focus {
    background-color: #188CE8;
  }
}

@media screen and (min-width: 1200px) {
  .goals {
    padding-bottom: 0;
  }
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.header__webstudioheader {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  color: black;
  text-decoration: none;
}

.header__container {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1199px) {
  .header__container {
    height: 60px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  pointer-events: initial;
  visibility: visible;
  -webkit-transition: opacity var(--anim), visibility var(--anim);
  transition: opacity var(--anim), visibility var(--anim);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: initial;
}

.modal {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 450px;
  padding: 40px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: initial;
}

.page {
  font-size: 36px;
  line-height: 1.17;
}
@media screen and (max-width: 1199.9px) {
  .page {
    display: none;
  }
}

.different-it__profecional {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px 8px;
}
@media screen and (max-width: 767px) {
  .different-it__profecional {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 326px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.team {
  background-color: #F5F4FA;
}/*# sourceMappingURL=main.css.map */