.footer__social-network{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.footer__team-circle{
    background-color: rgba(255, 255, 255, 0.1);
}

.social-network{
    width: 20px;
    height: 20px;
    fill: #FFFFFF;
}