.goals__flex{
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 30px;
    @media screen and (min-width: 1200px) {
        justify-content: space-between;
    }
}
.goals__lists{
    max-width: 450px;
    @media screen  and (min-width: 768px) {
        width: 354px;
     }
     @media screen and (min-width: 1200px) {
         width:270px;
     }
}
.goals__container-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
    
}
.goals__icon{
    display: block;
}
.goals__description{
    letter-spacing: 0.03em;
    text-transform: uppercase;
    line-height: 1.14;
    font-size: 14px;

    @media screen and (max-width: 767px) {
        text-align: center;
    }
}
.goals__text{
    margin-top: 10px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--grey);
}