.modal__button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    color: #000000;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
}
.modal__button:hover{
    color: var(--blue);
}
.modal__icon-close{
    width: 11px;
    height: 11px;
    fill:  currentColor;
    transition: color var(--anim);
}