.page__flex{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.page__image{
    position: relative;
}
.page__wrapper{
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(47, 48, 58, 0.8);
}
.page__bottom-text-image{
    font-weight: 700;
    color: var(--white);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
}